* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #0E0E0E;
    width: 100%;
    min-height: 100vh;
}

img {
    width: 100%;
}

/* Typography */

h1 {
    font-weight: 800;
    font-size: 1.75rem;
    letter-spacing: -0.045em;
    color: #FFFFFF;
    /* border: 1px dotted red; */
}

h3 {
    margin: 0;
}

header a {
    font-weight: 700;
    font-size: 0.75rem;
    color: #FFFFFF;
    text-decoration: none;
}

.initial-text {
    font-weight: 700;
    font-size: 1.125rem;
    color: #DFDDDD;
    margin-top: .5em;
}

@media (min-width: 768px ) {
    h1 {
        font-size: 2.5rem;
    }

    header a {
        font-size: 1rem;
    }
}

/* Layout */

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 550px;
    background-color: #FFFFFF;
}

.header {
    position: relative;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.75);
    background-image: url(img/background.png);
    background-position: 0 -160px;
    padding: 1.5em;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-box {
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: .25em;
}

.search-field {
    flex: 1;
    border: none;
    outline: none;
    padding-left: .5em;
}

.search-btn {
    width: 30%;
    padding: .85em;
    border: none;
    background-color: #F9FAFB;
    border-radius: 0 6px 6px 0;
    border-left: 1px solid #D1D5DB;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.875;
    line-height: 20px;
    color: #374151;
}

.icon {
    width: 5%;
    color: #D1D5DB;
}

main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    min-height: calc(100vh - 200px);
    padding: 4em 2em 2em;
}

.data-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.initial-box {
    margin-top: 7.5em;
}

.movie {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 0 0 1em;
    border-bottom: 1.5px solid #E5E7EB; ;
    align-items: flex-start;
    margin: 1em 0;
}

.movie-poster {
    border-radius: 3px
}

.movie-info-box {
    padding: 0 1em 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: 10px 0;
}

.movie-title {
    grid-column: 1 / -1;
    font-weight: 500;
    font-size: 1rem;
    color: #000000;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 75px;
}

.movie-score {
    display: inline;
    font-weight: 400;
    font-size: 0.75rem;
    color: #111827;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: .5em;
}

.small-icon {
    width: 15px;
}

.movie-duration {
    grid-column: 1 / 1;
    font-weight: 400;
    font-size: 0.75rem;
    color: #111827;
}

.movie-category {
    grid-column: 2 / 4;
    font-weight: 400;
    font-size: 0.75rem;
    color: #111827;
}

.watchlist-btn {
    font-family: 'Inter';
    grid-column: 4 / -1;
    display: flex;
    font-weight: 400;
    font-size: 0.75rem;
    color: #111827;
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 1em;
}

.movie-description {
    grid-column: 1 / -1;    
    font-weight: 400;
    font-size: .875rem;
    color: #6B7280;
    line-height: 1.4;
}